{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-fluid px-4">
  <h2 class="my-4">Active Listings</h2>

  <form action="{% url 'filterCategory' %}" method="POST" class="mb-4">
    {% csrf_token %}
    <h4 class="mb-3">Category: {{ elementCat }}</h4>
    
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="categoryIndex" class="col-form-label">Category</label>
      </div>
      <div class="col-auto">
        <select class="form-select" onchange="this.form.submit()" name="categoryIndex" id="categoryIndex">
          <option value="{{ elementCat }}">{{ elementCat }}</option>
          {% for cat in category %}
            {% if elementCat|lower != cat|lower %}
              <option value="{{ cat }}">{{ cat }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" type="submit" value="none" name="categoryIndex">Reset</button>
      </div>
    </div>
  </form>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    {% for list in activateList %}
    <div class="col">
      <div class="card h-100">
        <img src="{{ list.url }}" class="card-img-top" alt="{{ list.title }}" style="height: 200px; object-fit: cover;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ list.title }}</h5>
          <p class="card-text flex-grow-1">{{list.description}}</p>
          <a href="{% url 'listing' id=list.id %}" class="btn btn-primary mt-auto">Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}